/* Font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Body */
body {
    background-color: #EEEEEE;
    font-family: 'Do Hyeon', sans-serif;
    margin: 0;
    
    user-select: none; /* Drag Ban - user-select: text;*/
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration:none;
    color: currentColor;
}

/* Header */
header {
    position: fixed; z-index: 0;
    top: 0; left: 0; right: 0;

    height: 30px; padding: 0.5rem 1.5rem; /* rem = 16px * 10 */
    color: black; background-color: #EEEEEE;

    display: flex; justify-content: space-between;
    align-items: center; font-size: 15px;
}

header img {
    width: 2rem; height: 2rem;
    border-radius: 50%;

    margin-top: 5px;
}

/* Content */
content {
    position: absolute; z-index: -1;
    top: 55px; left: 0; right: 0;

    height: 50px; padding: 100px; /* rem = 16px * 10 */
    color: black; background-color: #EEEEEE;

    /* display: flex; justify-content: center; */
    align-items: center; font-size: 30px;
}

content a img {
    position: relative;
    top: 10px; left: 0; right: 0;

    align-items: center;
}

/* Footer */
footer {
    position: absolute;
    top: 1000px; left: 0; right: 0;

    height: 50px; padding: 100px; /* rem = 16px * 10 */
    color: black; background-color: #C2C2C2;

    /* display: flex; justify-content: center; */
    align-items: center; font-size: 15px;
}