<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/Icon.png') }}">
    <title>Home</title>
</head>
<body>

    <header>
        <h1></h1>
        {% if current_user %}
            <nav>
                <a href="/profile" >
                    <img src="{{ current_user.avatar_url }}">
                </a>
            </nav>

        {% else %}
            <nav>
                <a href="{{ oauth_uri }}">로그인</a>
            </nav>

        {% endif %}
    </header>

    <content>
        Honang Bot . 호낭봇 <br>
        <a><img src="{{ url_for('static', filename='image/home/buttonInvite.svg') }}"></a>
        <a><img src="{{ url_for('static', filename='image/home/buttonKnow.svg') }}"></a> <br>

    </content>

    <footer>
        <a href="#">개인정보 처리방침</a>
        <a></a>

    </footer>
      
</body>
</html>