<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/userInfo.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/Icon.png') }}">

    {% if current_user %}
    <title>Profile ( {{ current_user.username }} )</title>

    {% else %}
    <title>Login</title>

    {% endif %}
</head>
<body>
    <content>
        {% if error == True %}
            Honang 계정이 존재하지 않습니다 <br>
            <a href="/">Honang 계정에 가입해주세요.</a>

        {% else %}
            <div class="userInfo">
                <div class="infoBox">
                    <img src="{{ current_user.avatar_url }}"> <br>
                    {{ current_user.username }} <br>
                    <progress value="{{ account[1] }}" max="{{ account[2] * 1000 }}"></progress> <br>
                    <span style="font-size: 15px;">{{ account[4] }}</span>

                </div>
            </div>

        {% endif %}
    </content>  
        
</body>
</html>